@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

body{
      overflow: hidden;
      background: conic-gradient(from -.5turn at bottom right, deeppink, cyan, rebeccapurple);
}
body .container {
    font-family: "Roboto Condensed", sans-serif;
       font-size: larger;
}

.container{
           
            width: 95%;
            height: 100vh;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
}

.digitalClock{
               border: 1px solid rgb(12, 20, 240);
               box-shadow: 2px 2px 10px 10px rgb(57, 57, 145);
               width: fit-content;
               margin: auto;
               padding: 10px;
               border-radius: 2px;
               color: white;
               background: rgb(159, 158, 158);  
               
}

.digitalClock h1{
         display: inline-block;
         margin: 0 10px;
         font-weight: bold;
         font-size: 6rem;
         animation: colorchange 10s infinite alternate;
}
@media(max-width:778px){
    #bar1, #bar2{
        display: none;
    }
    .digitalClock{
          text-align: center;
          width: 100%;
    }
    .digitalClock h1{
           display: block;
    }
}

@media(max-width:480px){
    .digitalClock h1{
        font-size: 4rem;
    }
}

@keyframes colorchange{
    0%{
        color: indigo;
    }
    20%{
        color: blue;
    }
    40%{
        color: green;
    }
    60%{
        color: yellow;
    }
    80%{
        color: orange;
    }
    100%{
        color: red;
    }
}